.main.container {
    margin: 0 1rem;
}

input {
    font-weight: 800;
    color: black;
}

    input[type="number"] {
        width: 50%;
        border-radius: 8.5%;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 2px;
        border: none;
        margin-top: 10px;
    }

    input[type="file"] {
        margin-top: 10px;
    }

    input:focus {
        box-shadow: 0 0 5px 3px blue;
    }

.controlpanel.spacing input[type="number"] {
    width: 65%;
    border-radius: 6.5%;
}

.controlpanel.font input[type="number"] {
    margin-top: 0;
}

.controlpanel.extras input[type="file"]{
    margin-bottom: 10px;
}

.controlpanel.inline{
    width: 200px;

    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
}