.main.container {
    margin: 0 1rem;
}

input {
    font-weight: 800;
    color: black;
}

    input[type="number"] {
        width: 50%;
        border-radius: 8.5%;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 2px;
        border: none;
        margin-top: 10px;
    }

    input[type="file"] {
        margin-top: 10px;
    }

    input:focus {
        box-shadow: 0 0 2px 3px blue;
    }

.controlpanel.spacing input[type="number"] {
    width: 65%;
    border-radius: 6.5%;
}

.controlpanel.font input[type="number"] {
    margin-top: 0;
}

.controlpanel.extras input[type="file"] {
    margin-bottom: 10px;
}

.controlpanel.inline {
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
}

    .controlpanel.inline input {
        width: 200px;
        text-overflow: ellipsis;
    }

body[data-theme="dark"] .controlpanel.inline button {
    align-self: flex-end;
    justify-self: center;
    z-index: 99;
    background-color: black;
}

.controlpanel.select {
    border: 0.5px solid;
    border-radius: 0.4em;
    line-height: 1.2;
    margin: 0 0.2rem;
    background: transparent;
    text-transform: capitalize;
    color: black;
    text-align: center;
}

    .controlpanel.select:focus {
        box-shadow: 0 0 2px 3px blue;
    }

body[data-theme="dark"] .controlpanel.select {
    color: white;
    border-color: transparent;
}
