/*applying global styles here*/

body[data-theme='dark'] {
    background-color: rgb(46, 61, 77);
    color: rgb(223, 230, 237);
}


* {
    margin: 0;
}

body[data-theme='dark'] input {
    filter: invert(1) hue-rotate(180deg);
}

.markdown.rules{
    color: black;
    font-size: 1.1em;
}

.markdown .builtby .image{
    display: inline-block;
    margin-right: 2rem;
}

/*.markdown img{
    display: block;
    height: 150px;
    width: 150px;
}*/