#generate-button{
    padding: 1rem;
    font-weight: lighter;
    border-radius: 20%;
    border: 2px solid lightgreen;
    cursor: pointer;
}
#generate-button:disabled{
    cursor: none;
}

.imggen.container{
    padding: 1rem 1rem;
}

.outputarea.noimages{
    margin: 3rem;
    padding-left: 3rem;
}

@media screen and (max-width:670px){
    .outputarea img{
        height: 60%;
        width: 60%;
    }
}