@font-face {
    font-family: "Homemade Apple";
    src: local("Homemade Apple Regular"), local("HomemadeApple-Regular"), url("https://fonts.gstatic.com/s/homemadeapple/v11/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body[data-theme='dark'] .ui.form textarea {
    background-color: #1d2d50;
    color: #eeecda;
}

body[data-theme='dark'] .ui.form textarea::selection {
    color: aqua;
}

.text-area.container {
    font-size: 1.5rem;
}

.text-area.core {
    margin-right: 1.2rem;
    height: calc(11.7 * 400px / 8.3);
    width: 450px;
    background: transparent;
    color: black;
    padding: 1rem;
    border-radius: 6px;
    border: 3px solid lightblue;
}

body[data-theme='dark'] .text-area.core {
    color: papayawhip;
    border-color: #00134d;
}

.generated.container {
    width: 400px;
    height: calc(11.7 * 400px / 8.3);
    background: white;
    background-size: cover;
    position: relative;
    top: 0px;
    line-height: 1.5em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    white-space: pre-wrap;
}

.generated.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.generated.signature {
    position: absolute;
    transform: rotate(-15deg);
    display: none;
}