.generated.container {
    width: 450px;
    height: calc(11.7 * 400px / 8.3); /* A4 Ratio */
    background: #fff;
    margin: 0 2rem;
    border: 1px solid black;
}
.generated.core{
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-style: italic;
}

.text-area {
    margin-right: 1.2rem;
    width: 450px;
    height: calc(11.7 * 400px / 8.3); /* A4 Ratio */
}