.generated.container {
    width: 450px;
    height: calc(11.7 * 400px / 8.3); /* A4 Ratio */
    background: #fff;
    margin: 0 2rem;
    border: 1px solid black;
/*    background: rgb(60,60,62);
    background: linear-gradient(90deg, rgba(60,60,62,0.8830882694874825) 0%, rgba(247,247,255,0.9335084375547094) 61%);*/
}
.generated.core {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: normal;
}

.text-area {
    margin-right: 1.2rem;
    width: 450px;
    height: calc(11.7 * 400px / 8.3); /* A4 Ratio */
}